---
http_interactions:
- request:
    method: get
    uri: https://gender-api.com/get?key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Calvin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 1, duration: 22ms'
    body:
      encoding: UTF-8
      string: '{"name":"calvin","name_sanitized":"Calvin","country":"","gender":"male","samples":7186,"accuracy":99,"duration":"22ms","credits_used":1}'
  recorded_at: Fri, 06 Dec 2019 10:57:02 GMT
- request:
    method: get
    uri: https://gender-api.com/get?key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=nonamenonnamon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 0, duration: 21ms'
    body:
      encoding: UTF-8
      string: '{"name":"nonamenonnamon","name_sanitized":"Nonamenonnamon","country":"","gender":"unknown","samples":0,"accuracy":0,"duration":"21ms","credits_used":0}'
  recorded_at: Fri, 06 Dec 2019 11:07:41 GMT
- request:
    method: get
    uri: https://gender-api.com/get?country=DE&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Calvin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 1, duration: 18ms'
    body:
      encoding: UTF-8
      string: '{"name":"calvin","name_sanitized":"Calvin","country":"DE","gender":"male","samples":140,"accuracy":99,"duration":"18ms","credits_used":1}'
  recorded_at: Fri, 06 Dec 2019 11:07:42 GMT
- request:
    method: get
    uri: https://gender-api.com/get?key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Nonamenonnamon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 0, duration: 26ms'
    body:
      encoding: UTF-8
      string: '{"name":"nonamenonnamon","name_sanitized":"Nonamenonnamon","country":"","gender":"unknown","samples":0,"accuracy":0,"duration":"26ms","credits_used":0}'
  recorded_at: Thu, 19 Dec 2019 09:51:17 GMT
- request:
    method: get
    uri: https://gender-api.com/get?country=&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Christian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 0, duration: 21ms'
    body:
      encoding: UTF-8
      string: '{"name":"christian","name_sanitized":"Christian","country":"","gender":"unknown","samples":0,"accuracy":0,"duration":"21ms","credits_used":0}'
  recorded_at: Fri, 03 Jan 2020 10:06:21 GMT
- request:
    method: get
    uri: https://gender-api.com/get?country=DE&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Christian
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 1, duration: 17ms'
    body:
      encoding: UTF-8
      string: '{"name":"christian","name_sanitized":"Christian","country":"DE","gender":"male","samples":86,"accuracy":100,"duration":"17ms","credits_used":1}'
  recorded_at: Tue, 07 Jan 2020 11:58:51 GMT
- request:
    method: get
    uri: https://gender-api.com/get?country=DE&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Nermin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 1, duration: 20ms'
    body:
      encoding: UTF-8
      string: '{"name":"nermin","name_sanitized":"Nermin","country":"DE","gender":"female","samples":178,"accuracy":65,"duration":"20ms","credits_used":1}'
  recorded_at: Fri, 17 Jan 2020 14:01:28 GMT
- request:
    method: get
    uri: https://gender-api.com/get?country=&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Nermin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 1, duration: 21ms'
    body:
      encoding: UTF-8
      string: '{"name":"nermin","name_sanitized":"Nermin","country":"","gender":"female","samples":3157,"accuracy":74,"duration":"21ms","credits_used":1}'
  recorded_at: Fri, 17 Jan 2020 14:08:59 GMT
- request:
    method: get
    uri: https://gender-api.com/get?country=DE&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Kashif
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 1, duration: 19ms'
    body:
      encoding: UTF-8
      string: '{"name":"kashif","name_sanitized":"Kashif","country":"DE","gender":"male","samples":41,"accuracy":100,"duration":"19ms","credits_used":1}'
  recorded_at: Sat, 25 Jan 2020 19:27:26 GMT
- request:
    method: get
    uri: https://gender-api.com/get?country=DE&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'errno: 20, duration: 19ms'
    body:
      encoding: UTF-8
      string: '{"name":"","errno":20,"errmsg":"name not set","gender":"unknown","samples":0,"accuracy":0,"duration":"19ms","credits_used":1}'
  recorded_at: Wed, 12 Feb 2020 14:54:43 GMT
[...]
- request:
    method: get
    uri: https://gender-api.com/get?country=DE&key=b0f02c43be9c1df1666148485bb71e9f7ecad5a97b3a146d07013233b3dead9d&name=Usksjsndj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ng:
      - 'count: 0, duration: 27ms'
    body:
      encoding: UTF-8
      string: '{"name":"usksjsndj","name_sanitized":"Usksjsndj","country":"DE","gender":"unknown","samples":0,"accuracy":0,"duration":"27ms","credits_used":0}'
  recorded_at: Wed, 12 Feb 2020 15:01:09 GMT
recorded_with: VCR 5.0.0
