h2 Das Sozialministerium hat neue Daten geliefert

h3 = link_to "Zu den Daten", "https://www.cov19.at"

p(style="font-size: 10px; margin-top: 100px")
  = link_to "Abbestellen", unsubscribe_user_url(id: @user.id)
